<article class="bg-white">
  <ul nz-list [nzDataSource]="todoList" [nzNoResult]="'Don`t have a todos data'" nzBordered nzSize="large">
    <nz-list-header class="flex flex-col sm:flex-row justify-between">
      <div class="font-bold text-lg">
        Todo List
      </div>
      <div class="flex mt-2 sm:mt-0">
        <nz-select [(ngModel)]="sortBy" (ngModelChange)="sortingBy.emit($event)">
          <nz-option [nzValue]="sortType.A_Z_TITLE" nzLabel="A-Z By Title"></nz-option>
          <nz-option [nzValue]="sortType.Z_A_TITLE" nzLabel="Z-A By Title"></nz-option>
          <nz-option [nzValue]="sortType.A_Z_DATE" nzLabel="A-Z By Date"></nz-option>
          <nz-option [nzValue]="sortType.Z_A_DATE" nzLabel="Z-A By Date"></nz-option>
        </nz-select>

        <nz-input-group class="ml-2" [nzSuffix]="suffixIconSearch">
          <input type="text" [(ngModel)]="searchText" nz-input placeholder="Search" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>
    </nz-list-header>
    <nz-list-item *ngFor="let todo of todoList | search: searchText">
      <div class="flex flex-col w-full pr-4 sm:border-r-2">
        <div>
          <label class="block text-gray-700 break-all text-base font-bold mb-2"
            [ngClass]="{'line-through': todo.completed}">
            {{ todo.title }}
          </label>
          <label class="block text-gray-600 break-all text-sm mb-3" [ngClass]="{'line-through': todo.completed}">
            {{ todo.description }}
          </label>
        </div>
        <div class="flex justify-end text-gray-400 text-xs">
          {{ todo.date | date: 'medium'}}
        </div>
      </div>
      <ul nz-list-item-actions class="flex sm:w-40 justify-end">
        <nz-list-item-action *ngIf="!todo.completed">
          <a class="text-sky-500 hover:text-sky-700" (click)="editTodo.emit(todo)">Edit</a>
        </nz-list-item-action>
        <nz-list-item-action>
          <a class="text-red-500 hover:text-red-700" (click)="removeTodo.emit(todo.id)">Delete</a>
        </nz-list-item-action>
        <nz-list-item-action>
          <a class="text-teal-500 hover:text-teal-700"
            [ngClass]="{'text-gray-500 hover:text-gray-500 cursor-default': todo.completed }"
            (click)="completeTodo.emit(todo)">{{todo.completed ? 'Completed' : 'Complete'}}</a>
        </nz-list-item-action>
      </ul>
    </nz-list-item>
  </ul>
</article>
